// global styles

* {
    // border: darkcyan 2px solid;
    font-family: "Roboto", sans-serif;

}

@font-face {
    font-family: Roboto;
    src: url(../fonts/roboto-fonts/Roboto-Medium.ttf);
}

// page 4 styles start

.why-important__wrapper {
    height: 98%;
    width: 96%;
    display: flex;
    flex-direction: column;
    margin: 0 2%;

    .why-important__title {
        color: $gray-color;
        font-size: 2.5rem;
        margin-left: 3rem;
    }

    .why-important__card-set {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .why-important__card {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
            width: 33%;
            position: relative;
            padding-top: 2.5rem;

            .why-important__number {
                color: $turquoise-color;
                font-size: 5rem;
                font-weight: bold;
                width: 6rem;
                text-align: center;
                background-color: #ffffff;
                border-radius: 5rem;
                position: absolute;
                top: 0.5rem;
                left: 0.5rem;
            }

            .why-important__block {
                background-color: #eaeef1;
                color: #404040;
                width: 55%;
                font-size: 1.25rem;
                text-align: left;
                border-radius: 0rem 3rem 3rem 0rem;
                padding: 2rem;
            }
        }
    }

    .why-important__footer {
        margin: 3rem 0 0 3rem;
    }
}

// page 4 styles end


// page 5 styles start
.our-offer__wrapper {
    height: 98%;
    width: 96%;
    display: flex;
    flex-direction: column;
    margin: 0 2% 3rem 2%;
    padding-top: 6.5rem;

    .our-offer__content {
        display: flex;
        flex-direction: row;

        .our-offer__text-area {
            display: flex;
            flex-direction: column;
            width: 60%;
            margin-right: 4rem;

            .our-offer__title {
                color: $gray-color;
                font-size: 2.5rem;
                margin: 0.1rem 0;
            }

            .bold {
                font-weight: bold;
            }

            .our-offer__section {
                padding: 0;
                font-size: 1.25rem;

                .our-offer__section-title {
                    margin: 0;
                }
            }
        }

        .our-offer__img-area {
            display: flex;
            flex-direction: row;
            // justify-items: flex-start;
            justify-content: center;
            width: 35%;

            // animation
            transition-duration: 2s;

            &:hover {
                transform: translate(-4rem, 0);
                transition-duration: 2s;
                transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
            }

            .our-offer__img {
                border-radius: 10rem;
                max-width: 100%;
                max-height: 82%;
            }
        }
    }
}

// page 5 styles end


// page 6 styles start

.book-quest__wrapper {
    height: 98%;
    width: 96%;
    display: flex;
    flex-direction: column;
    margin: 0 2% 3rem 2%;

    .book-quest__content {
        display: flex;
        flex-direction: row;

        .book-quest__img-area {
            width: 33%;

            // animation
            transition-duration: 2s;

            &:hover {
                transform: translate(4rem, 0);
                transition-duration: 2s;
                transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
            }

            .book-quest__img-top {
                border-radius: 10rem 10rem 0 0;
                max-width: 100%;
                max-height: 100%;
                margin-bottom: -0.3rem;
            }

            .book-quest__img-bottom {
                border-radius: 0 0 10rem 10rem;
                max-width: 100%;
                max-height: 100%;
            }
        }

        .book-quest__text-area {
            display: flex;
            flex-direction: column;
            width: 58%;
            margin-left: 5rem;

            .book-quest__section {
                padding: 0;
                font-size: 1.25rem;

                .book-quest__section-title {
                    margin-top: 1rem;
                }

                .bold {
                    font-weight: bold;
                }
            }
        }
    }
}

// page 6 styles end


// page 4 adaptivity start
@media screen and (min-width: 320px) and (max-width: 374px) {

    .why-important__wrapper {
        margin: 0 2% 2% 2%;

        .why-important__title {
            text-align: center;
            font-size: 1.5rem;
            margin: 0.5rem 0 0.5rem 0;
        }

        .why-important__card-set {
            flex-direction: column;
            align-items: center;

            .why-important__card {
                width: 90%;
                padding-top: 1rem;

                .why-important__number {
                    font-size: 2.5rem;
                    width: 3rem;
                    text-align: center;
                    border-radius: 0 0 2rem 0;
                    top: 0rem;
                    left: 0rem;
                }

                .why-important__block {
                    width: 70%;
                    font-size: 1rem;
                    text-align: left;
                    border-radius: 0rem 3rem 3rem 0rem;
                    padding: 1.5rem;
                    margin: 0;
                }
            }
        }

        .why-important__footer {
            margin: 1rem 0 0 1rem;
        }
    }
}

@media screen and (min-width: 375px) and (max-width: 424px) {

    .why-important__wrapper {
        margin: 0 2% 2% 2%;

        .why-important__title {
            font-size: 1.5rem;
            margin: 0.5rem 0 0.5rem 2rem;
        }

        .why-important__card-set {
            flex-direction: column;
            align-items: center;

            .why-important__card {
                width: 90%;
                padding-top: 1rem;

                .why-important__number {
                    font-size: 3rem;
                    width: 3rem;
                    text-align: center;
                    border-radius: 0 0 2rem 0;
                    top: 0rem;
                    left: 0rem;
                }

                .why-important__block {
                    width: 70%;
                    font-size: 1rem;
                    text-align: left;
                    border-radius: 0rem 3rem 3rem 0rem;
                    padding: 1.5rem;
                    margin: 0;
                }
            }
        }

        .why-important__footer {
            margin: 1rem 0 0 1rem;
        }
    }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
    .why-important__wrapper {
        margin: 0 2% 2% 2%;

        .why-important__title {
            font-size: 1.5rem;
            margin: 0.5rem 0 0.5rem 3rem;
        }

        .why-important__card-set {
            flex-direction: column;
            align-items: center;


            .why-important__card {
                width: 80%;
                padding-top: 1rem;

                .why-important__number {
                    font-size: 3rem;
                    width: 3rem;
                    text-align: center;
                    border-radius: 0 0 2rem 0;
                    top: 0rem;
                    left: 0rem;
                }

                .why-important__block {
                    width: 70%;
                    font-size: 1rem;
                    text-align: left;
                    border-radius: 0rem 3rem 3rem 0rem;
                    padding: 1.5rem;
                    margin: 0;
                }
            }
        }

        .why-important__footer {
            margin-top: 1rem;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .why-important__wrapper {
        margin: 0 2% 2% 2%;

        .why-important__card-set {

            .why-important__card {
                padding-top: 2rem;

                .why-important__number {
                    font-size: 4rem;
                    width: 5rem;
                    text-align: start;
                    border-radius: 0 0 6rem 0;
                    top: 0rem;
                    left: 0rem;
                }

                .why-important__block {
                    width: 87%;
                    padding: 2rem 0.5rem 2rem 0.5rem;
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) and (max-width: 1090px) {

    .why-important__wrapper {

        .why-important__card-set {

            .why-important__card {

                .why-important__number {
                    border-radius: 0 0 4rem 0;
                    top: 0;
                    left: 0;
                }

                .why-important__block {
                    width: 65%;
                    border-radius: 0 3rem 3rem 0rem;
                }
            }
        }
    }
}

// page 4 adaptivity end


// page 5 adaptivity start 

@media screen and (min-width: 320px) and (max-width: 500px) {

    .our-offer__wrapper {
        margin: 0 2% 2% 2%;
        padding-top: 5rem;

        .our-offer__content {
            flex-direction: column;

            .our-offer__text-area {
                width: 100%;

                .our-offer__title {
                    font-size: 1.5rem;
                }

                .bold {
                    font-weight: bold;
                }

                .our-offer__section {
                    padding: 0;
                    font-size: 1rem;

                    .our-offer__section-title {
                        margin: 0;
                    }
                }
            }

            .our-offer__img-area {
                display: flex;
                flex-direction: column;
                width: 100%;

                .our-offer__img {
                    border-radius: 0rem;
                    max-width: 100%;
                    max-height: 100%;
                    clip-path: inset(25% 0 25% 0);
                    margin: -33% 0;
                }
            }

            .no-hover456 {
                pointer-events: none;
            }
        }
    }
}

@media screen and (min-width: 501px) and (max-width: 767px) {

    .our-offer__wrapper {
        margin: 0 2% 2% 2%;
        padding-top: 6rem;

        .our-offer__content {
            flex-direction: column;

            .our-offer__text-area {
                width: 100%;

                .our-offer__title {
                    font-size: 1.5rem;
                }

                .bold {
                    font-weight: bold;
                }

                .our-offer__section {
                    padding: 0;
                    font-size: 1rem;

                    .our-offer__section-title {
                        margin: 0;
                    }
                }
            }

            .our-offer__img-area {
                display: flex;
                flex-direction: column;
                width: 100%;

                .our-offer__img {
                    border-radius: 0rem;
                    max-width: 100%;
                    max-height: 100%;
                    clip-path: inset(25% 0 25% 0);
                    margin: -33% 0;
                }
            }

            .no-hover456 {
                pointer-events: none;
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 868px) {

    .our-offer__wrapper {
        margin: 0 2% 2% 2%;
        padding-top: 6rem;

        .our-offer__content {
            display: flex;

            .our-offer__text-area {

                .our-offer__section {

                    .our-offer__long {
                        width: 175%;
                    }
                }
            }

            .our-offer__img-area {
                justify-items: flex-end;
                height: fit-content;
            }

            // animation concealed
            .no-hover456 {
                pointer-events: none;
            }
        }
    }
}

@media screen and (min-width: 869px) and (max-width: 1023px) {

    .our-offer__wrapper {
        margin: 0 2% 2% 2%;
        padding-top: 6rem;

        .our-offer__content {
            display: flex;

            .our-offer__text-area {

                .our-offer__section {

                    .our-offer__long {
                        width: 124%;
                    }
                }
            }

            .our-offer__img-area {
                justify-items: flex-end;
                height: fit-content;
            }

            // animation concealed
            .no-hover456 {
                pointer-events: none;
            }
        }
    }
}

@media screen and (min-width: 1024px) and (max-width: 1082px) {

    .our-offer__wrapper {

        .our-offer__content {

            .our-offer__text-area {
                width: 65%;
                margin-right: 3rem;
            }

            .our-offer__img-area {
                justify-content: center;
                align-items: flex-start;
                width: 35%;

                // animation
                transition-duration: 2s;

                &:hover {
                    transform: translate(-3rem, 0);
                }

                // .our-offer__img {
                //     max-height: 100%;
                // }
            }
        }
    }
}

@media screen and (min-width: 1083px) and (max-width: 1142px) {
    .our-offer__wrapper {

        .our-offer__content {

            .our-offer__text-area {
                width: 65%;
                margin-right: 3rem;
            }

            .our-offer__img-area {
                justify-content: center;
                align-items: flex-start;
                width: 35%;

                // animation
                transition-duration: 2s;

                &:hover {
                    transform: translate(-3rem, 0);
                }

                .our-offer__img {
                    max-height: 100%;
                }
            }
        }
    }
}

@media screen and (min-width: 1143px) and (max-width: 1289px) {
    .our-offer__wrapper {

        .our-offer__content {

            .our-offer__text-area {
                width: 65%;
                margin-right: 3rem;
            }

            .our-offer__img-area {
                justify-content: center;
                align-items: flex-start;
                width: 35%;

                // animation
                transition-duration: 2s;

                &:hover {
                    transform: translate(-3rem, 0);
                }

                .our-offer__img {
                    max-height: 85%;
                }
            }
        }
    }
}


// page 5 adaptivity end


// page 6 adaptivity start
@media screen and (min-width: 320px) and (max-width: 767px) {

    .book-quest__wrapper {
        height: 98%;
        width: 96%;
        display: flex;
        flex-direction: column;
        margin: 0 2% 2% 2%;

        .book-quest__content {
            display: flex;
            flex-direction: column-reverse;


            .book-quest__img-area {
                width: 100%;

                .book-quest__img-top {
                    border-radius: 0;
                    max-width: 100%;
                    max-height: 100%;
                    margin-bottom: -0.3rem;
                }

                .book-quest__img-bottom {
                    display: none;
                }
            }

            .no-hover456 {
                pointer-events: none;
            }

            .book-quest__text-area {
                display: flex;
                flex-direction: column;
                width: 100%;
                margin: 0;

                .book-quest__section {
                    padding: 0;
                    font-size: 1rem;

                    .book-quest__section-title {
                        margin: 0;
                    }

                    .bold {
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 868px) {

    .book-quest__wrapper {
        margin: 0 2% 2% 2%;

        .book-quest__content {

            .book-quest__img-area {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 36%;

                .book-quest__img-top {
                    border-radius: 10rem 10rem 0 0;
                    max-width: 100%;
                    max-height: 100%;
                    margin-bottom: -0.3rem;
                }

                .book-quest__img-bottom {
                    border-radius: 0 0 10rem 10rem;
                    max-width: 100%;
                    max-height: 100%;
                }
            }

            // animation concealed
            .no-hover456 {
                pointer-events: none;
            }

            .book-quest__text-area {
                width: 60%;
                margin-left: 2rem;

                .book-quest__section {
                    padding: 0;
                    font-size: 1.25rem;

                    .book-quest__section-title {
                        margin-top: 0;
                    }

                    .bold {
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 869px) and (max-width: 1023px) {

    .book-quest__wrapper {
        margin: 0 2% 2% 2%;

        .book-quest__content {

            .book-quest__img-area {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 36%;

                .book-quest__img-top {
                    border-radius: 10rem 10rem 0 0;
                    max-width: 100%;
                    max-height: 100%;
                    margin-bottom: -0.3rem;
                }

                .book-quest__img-bottom {
                    border-radius: 0 0 10rem 10rem;
                    max-width: 100%;
                    max-height: 100%;
                }
            }

            // animation concealed
            .no-hover456 {
                pointer-events: none;
            }

            .book-quest__text-area {
                width: 60%;
                margin-left: 2rem;

                .book-quest__section {
                    padding: 0;
                    font-size: 1.25rem;

                    .book-quest__section-title {
                        margin-top: 0;
                    }

                    .bold {
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

// page 6 adaptivity end