@font-face {
    font-family: Roboto;
    src: url(../fonts/roboto-fonts/Roboto-Medium.ttf);
}

//start of fixed top menu
.about-company__header1 {
    position: fixed;
    top: 0;
    width: 100%;
    height: 6.5rem;
    background-color: rgba(46, 44, 44, 0.9);
    display: grid;
    grid-template-columns: 18% 79%;
    grid-template-rows: 1fr;
    z-index: 6;

    @media screen and (max-width: 1025px) {
        height: 6rem;
    }

    @media screen and (max-width: 500px) {
        height: 5rem;
    }


    .about-company__div-logo1 {
        grid-row: 1/2;
        grid-column: 1/2;
        width: 16rem;
        margin-top: 6px;

        // @media screen and (max-width: 1025px) {
        //     width: 17rem;
        // }

        // @media screen and (max-width: 769px) {
        //     width: 16rem;
        // }

        @media screen and (max-width: 500px) {
            width: 14rem;
        }

        .about-company__div-logo__img1 {
            max-width: 100%;
            max-height: 100%;
            margin-top: 0.2rem;
        }
    }

    .about-company__nav1 {
        grid-row: 1/2;
        grid-column: 2/3;
        display: flex;
        justify-content: space-around;
        align-items: center;
        z-index: 6;
        list-style: none;


        .about-company__nav__item1 {
            height: 2rem;
            text-decoration: none;
            color: $turquoise-color;
            font-size: 1.2rem;

            &:hover {
                color: white;
            }
        }

        @media screen and (max-width: 1153px) {
            display: none;
        }
    }
}

@media screen and (max-width: 2561px) and (min-width: 1152px) {

    .about-company__mobile-nav {
        display: none;

        .about-company__input {
            display: none;
            visibility: hidden;
        }

        .about-company__btn-menu {
            display: none;
            visibility: hidden;
        }

        .about-company__mobile-menu {
            display: none;
            visibility: hidden;
        }

        .about-company__label {
            display: none;
            visibility: hidden;
        }
    }
}

@media screen and (max-width: 1153px) {
    .about-company__mobile-nav {
        display: block;

        .about-company__input {
            display: none;
        }

        .about-company__label {
            display: flex;
            align-items: center;
            align-content: center;
            color: #fff;
            position: fixed;
            top: 30px;
            right: 30px;
            cursor: pointer;
            z-index: 3;
            width: 35px;
            height: 26px;
            z-index: 6;

            &>span,
            &>span::before,
            &>span::after {
                display: block;
                width: 100%;
                height: 4px;
                background-color: #fff;
                position: absolute;

            }

            &>span::before {
                content: "";
                top: -14px;
            }

            &>span::after {
                content: "";
                top: -7px;
                overflow: visible;
            }


            &>span {
                margin-top: 12px;
                overflow: visible;
            }
        }

        .about-company__mobile-menu {
            display: block;
            position: fixed;
            visibility: hidden;
            top: 6.2rem;
            right: -200px;

            width: 12.5rem;
            height: 16.8rem;
            z-index: 7; //чтобы были видны пункты мобильного меню

            padding: 0.6rem 0;
            margin: 0;
            box-sizing: border-box;

            list-style: none; //убирает маркеры перед элементами списка
            text-align: center;

            background-color: $gray-color;

            .about-company__mobile-menu__item {
                display: block;
                padding: 4px 4px;

                color: $turquoise-color;

                font-family: 'Roboto', sans-serif;
                font-size: 20px;
                font-weight: 600;
                text-decoration: none;

                &:hover {
                    color: white;
                }

                &:hover {
                    background-color: rgba(44, 43, 43, 0.4);
                }
            }
        }

        .about-company__input:checked~.about-company__label>span {
            transform: rotate(45deg);
            z-index: 8;
        }

        .about-company__input:checked~.about-company__label>span::before {
            top: 0;
            transform: rotate(0);
            z-index: 8;
        }

        .about-company__input:checked~.about-company__label>span::after {
            top: 0;
            transform: rotate(90deg);
            z-index: 8;
        }

        .about-company__input:checked~.about-company__mobile-menu {
            visibility: visible;
            right: 0;
            z-index: 5; //когда больше крестик на закрытие меню не видно
        }
    }
}

@media screen and (max-width: 1024px) {
    .about-company__mobile-nav {

        .about-company__label {
            display: flex;
            align-items: center;
            align-content: center;
            color: #fff;
            position: fixed;
            top: 1.875rem;
            right: 1.875rem;
            cursor: pointer;
            z-index: 3;
            width: 2.18rem;
            height: 1.625rem;
            z-index: 6;

            &>span,
            &>span::before,
            &>span::after {
                display: block;
                width: 100%;
                height: 0.25rem;
                background-color: #fff;
                position: absolute;
            }

            &>span::before {
                content: "";
                top: -14px;
            }

            &>span::after {
                content: "";
                top: -7px;
                overflow: visible;
            }


            &>span {
                margin-top: 12px;
                overflow: visible;
            }
        }
    }
}

@media screen and (max-width: 426px) {
    .about-company__mobile-nav {

        .about-company__label {
            display: flex;
            align-items: center;
            align-content: center;
            color: #fff;
            position: fixed;
            top: 1.875rem;
            right: 1.4rem;
            cursor: pointer;
            z-index: 3;
            width: 2.1875rem;
            height: 1.625rem;
            z-index: 6;

            &>span,
            &>span::before,
            &>span::after {
                display: block;
                width: 100%;
                height: 0.25rem;
                background-color: #fff;
                position: absolute;
            }

            &>span::before {
                content: "";
                top: -14px;
            }

            &>span::after {
                content: "";
                top: -7px;
                overflow: visible;
            }


            &>span {
                margin-top: 12px;
                overflow: visible;
            }
        }
    }
}

//end of fixed top menu

/*first page of presentation*/
.about-company__wrapper__first-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background: rgba(0, 0, 0, 0.75) url(../images/photo-first-page-light.jpg) no-repeat;
    background-size: cover;
    background-blend-mode: darken;

    .about-company__content {
        width: 78%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-left: 22%;
        height: 88.5vh;
        padding-bottom: 2rem;

        @media screen and (max-width: 1367px) {
            height: 100vh;
            padding-bottom: 0;
        }

        @media screen and (max-width: 1175px) {
            margin-left: 17%;
        }

        @media screen and (max-width: 1038px) {
            margin-left: 10%;
            width: 100%;
        }

        @media screen and (max-width: 1042px) {
            margin-left: 1%;
            width: 98%;
        }

        .about-company__decoration-line {
            border-top: 10px solid $turquoise-color;
            width: 100%;
        }

        .about-company__headline {
            color: white;
            font-size: 5rem;
            font-family: "Roboto", sans-serif;
            font-weight: normal;
            margin: 1.3rem 0;

            @media screen and (max-width: 1175px) {
                font-size: 3.5rem;
            }
        }

        .about-company__slogan {
            color: white;
            font-size: 2rem;
            font-family: "Roboto", sans-serif;
            font-weight: normal;
            margin: 1.3rem 0;
        }
    }
}

element.style {
    height: 751px;
}

/*end of first page*/

@media screen and (max-width: 701px) {
    .about-company__wrapper__first-page {

        .about-company__content {
            width: 90%;

            .about-company__headline {
                color: white;
                font-size: 3.3rem;
                font-family: "Roboto", sans-serif;
                font-weight: normal;
                margin: 1.3rem 0;
            }

            .about-company__slogan {
                color: white;
                font-size: 1.55rem;
                font-family: "Roboto", sans-serif;
                font-weight: normal;
                margin: 1.3rem 0;
            }
        }
    }
}

@media screen and (max-width: 386px) {
    .about-company__wrapper__first-page {

        .about-company__content {

            .about-company__headline {
                color: white;
                font-size: 3.1rem;
                font-family: "Roboto", sans-serif;
                font-weight: normal;
                margin: 1.3rem 0;

                @media screen and (max-width: 376px) {
                    font-size: 2.7rem;
                }
            }

            .about-company__slogan {
                color: white;
                font-size: 1.55rem;
                font-family: "Roboto", sans-serif;
                font-weight: normal;
                margin: 1.3rem 0;

                @media screen and (max-width: 321px) {
                    font-size: 1.32rem;
                }
            }
        }
    }
}

/*start two page*/
.requests-us__phon {
    background: url(../images/phon-two-page2.jpg) rgba(192, 192, 192, 0.5) no-repeat;
    // height: 100vh;
    width: 100%;
    background-size: cover;
    // margin-bottom: 0.5rem;
}

.requests-us__wrapper__two-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20% 1fr 1fr 1fr;
    place-items: center; //align и justify-items
    // height: 100vh;
    width: 100%;
    padding-bottom: 1.5rem;
    background: rgba(255, 255, 255, 0.8);

    .requests-us__div__headline {
        grid-row: 1/2;
        grid-column: 1/3;
        width: 100%;
        height: 5rem;
        display: flex;
        justify-content: center;

        .requests-us__headline {
            font-size: 2.5rem;
            color: $gray-color;
            margin-top: 1rem;
            margin-bottom: 0.5rem;
        }
    }

    .requests-us__wrapper__circle {
        display: flex;
        width: 3rem;
        height: 3rem;
        border: 0.25rem solid $turquoise-color;
        border-radius: 50%;
        color: $turquoise-color;
        font-size: 1.5rem;
        margin-right: 1rem;
        margin-bottom: 1rem;

        .requests-us__circle {
            margin: auto;
        }
    }

    .requests-us__one-thesis {
        display: flex;
        align-items: center;
        grid-row: 2/3;
        grid-column: 1/2;
    }

    .requests-us__three-thesis {
        display: flex;
        align-items: center;
        grid-row: 2/3;
        grid-column: 2/3;
    }

    .requests-us__two-thesis {
        display: flex;
        align-items: center;
        justify-content: center;
        grid-row: 3/4;
        grid-column: 1/3;
    }

    .requests-us__four-thesis {
        display: flex;
        align-items: center;
        grid-row: 4/5;
        grid-column: 1/2;
    }

    .requests-us__five-thesis {
        display: flex;
        align-items: center;
        grid-row: 4/5;
        grid-column: 2/3;

        .requests-us__text__5item {
            width: 64%;

            @media screen and (max-width: 1260px) {
                width: 67%;
            }

            @media screen and (max-width: 1024px) {
                width: 81%;
            }
        }
    }
}

.requests-us__text {
    font-size: 1.4rem;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    color: $gray-color;
    text-align: center;

}

@media screen and (max-width: 1023px) {
    .requests-us__wrapper__two-page {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 10% 1fr 1fr 1fr;
        place-items: center; //align и justify-items
        // height: 100vh;
        width: 100%;
        background: rgba(255, 255, 255, 0.8);

        .requests-us__div__headline {
            grid-row: 1/2;
            grid-column: 1/3;
            width: 100%;
            height: 6rem;
            display: flex;
            justify-content: center;

            @media screen and (max-width: 895px) {
                height: 4rem;
            }


            .requests-us__headline {
                font-size: 2.1rem; //calc(16px + 1vw);
                color: $gray-color;
                margin-top: 3rem;
                margin-bottom: 0;

                @media screen and (max-width: 895px) {
                    margin-top: 1rem;
                }

                @media screen and (max-width: 527px) {
                    font-size: 1.7rem;
                }

                @media screen and (max-width: 492px) {
                    margin-left: 0;
                    font-size: 1.55rem;
                }

                @media screen and (max-width: 370px) {
                    margin-left: 0;
                    font-size: 1.33rem;
                }
            }
        }

        .requests-us__one-thesis {
            display: flex;
            align-items: center;
            grid-row: 2/3;
            grid-column: 1/2;
        }

        .requests-us__three-thesis {
            display: flex;
            align-items: center;
            grid-row: 2/3;
            grid-column: 2/3;
        }

        .requests-us__two-thesis {
            display: flex;
            align-items: center;
            justify-content: center;
            grid-row: 3/4;
            grid-column: 1/3;
        }

        .requests-us__four-thesis {
            display: flex;
            align-items: center;
            grid-row: 4/6;
            grid-column: 1/2;
        }

        .requests-us__five-thesis {
            display: flex;
            align-items: center;
            grid-row: 4/6;
            grid-column: 2/3;
        }
    }
}

@media screen and (max-width: 895px) {

    .requests-us__wrapper__two-page {
        display: grid;
        grid-template-columns: 98%;
        grid-template-rows: 11% 1fr 1fr 1fr 1fr 24%;
        place-items: center; //align и justify-items
        width: 100%;
        background: rgba(255, 255, 255, 0.8);

        .requests-us__wrapper__circle {
            display: flex;
            width: 2.5rem;
            height: 2.5rem;
            border: 0.25rem solid $turquoise-color;
            border-radius: 50%;
            color: $turquoise-color;
            font-size: 1.5rem;
            margin-right: 1rem;
            margin-bottom: 1rem;

            .requests-us__circle {
                margin: auto;
            }
        }

        .requests-us__one-thesis {
            display: flex;
            align-items: center;
            justify-self: flex-start;
            grid-row: 2/3;
            grid-column: 1/2;
            margin-left: 2%;
        }

        .requests-us__two-thesis {
            display: flex;
            align-items: center;
            justify-self: flex-start;
            grid-row: 3/4;
            grid-column: 1/2;
            margin-left: 2%;
        }


        .requests-us__three-thesis {
            display: flex;
            align-items: center;
            justify-self: flex-start;
            justify-self: flex-start;
            grid-row: 4/5;
            grid-column: 1/2;
            margin-left: 2%;
        }

        .requests-us__four-thesis {
            display: flex;
            align-items: center;
            justify-self: flex-start;
            grid-row: 5/6;
            grid-column: 1/2;
            margin-left: 2%;
        }

        .requests-us__five-thesis {
            display: flex;
            align-items: center;
            justify-self: flex-start;
            grid-row: 6/7;
            grid-column: 1/2;
            margin-left: 2%;

            .requests-us__text__5item {
                width: 50%;

                @media screen and (max-width: 605px) {
                    width: 60%;
                }

                @media screen and (max-width: 517px) {
                    width: 66%;
                }

            }
        }
    }

    .requests-us__text {
        font-size: 1.6rem;
        font-family: "Roboto", sans-serif;
        font-weight: normal;
        color: $gray-color;
        text-align: start;

        @media screen and (max-width: 1098px) {
            font-size: 1.2rem;
        }

        @media screen and (max-width: 769px) {
            font-size: 1.1rem;
        }

        @media screen and (max-width: 401px) {
            font-size: 1rem;
        }

        @media screen and (max-width: 354px) {
            font-size: 0.99rem;
        }
    }
}

/*end two page of presentation*/

/*start three page*/
.topics__wrapper__three-page {
    display: flex;
    flex-direction: column;
    // align-content: flex-end;
    // justify-content: space-around;
    max-width: 100%;

    .topics__wrapper__content {
        margin-top: 1rem;

        @media screen and (max-width: 376px) {
            margin-top: 2rem;
        }

        .topics__headline {
            font-size: 2.5rem;
            color: $gray-color;
            margin-left: 4.5rem;
            margin-top: 0;
            margin-bottom: 2rem;

            @media screen and (max-width: 1036px) {
                margin-left: 3.1rem;
            }

            @media screen and (max-width: 769px) {
                margin-left: 2.3rem;
                font-size: 2.2rem;
                // margin-top: 0;
                margin-bottom: 1rem;
            }

            @media screen and (max-width: 426px) {
                font-size: 1.7rem;
            }
        }

        .topics__list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

            .topics__div__item {
                display: flex;
                width: 40%;
                height: 6rem;

                .item-big {
                    height: 3.5rem;
                }

                .item-small {
                    height: 2.5rem;

                    @media screen and (max-width: 1132px) {
                        height: 3.5rem;
                    }
                }

                .topics__item {
                    // font-family: "Roboto", sans-serif;
                    font-weight: normal;
                    font-size: 1.4rem;
                    color: $gray-color;
                    border-left: 0.7rem solid $turquoise-color;
                    margin: auto 0;
                    padding-left: 0.5rem;

                    @media screen and (max-width: 1029px) {
                        font-size: 1.2rem;
                    }

                    @media screen and (max-width: 729px) {
                        font-size: 1rem;
                    }
                }


                .item-alignment-1 {
                    line-height: 3.5rem;

                    @media screen and (max-width: 1101px) and (min-width: 1028px) {
                        line-height: 1.7rem;
                    }

                    @media screen and (max-width: 1110px) and (min-width: 1068px) {
                        line-height: 3.5rem;
                    }

                    @media screen and (max-width: 923px) and (min-width: 671px) {
                        line-height: 1.7rem;
                    }

                    @media screen and (max-width: 400px) {
                        line-height: 1.7rem;
                    }
                }

                .item-alignment-2 {
                    line-height: 2.3rem;

                    @media screen and (max-width: 1132px) {
                        line-height: 3.5rem;
                    }
                }

                .item-alignment-3 {
                    line-height: 2.5rem;

                    @media screen and (max-width: 1129px) {
                        line-height: 3.5rem;
                    }

                    @media screen and (max-width: 1098px) and (min-width: 1029px) {
                        line-height: 1.7rem;
                    }

                    @media screen and (max-width: 1021px) and (min-width: 953px) {
                        line-height: 3.5rem;
                    }

                    @media screen and (max-width: 950px) and (min-width: 762px) {
                        line-height: 1.7rem;
                    }

                    @media screen and (max-width: 762px) and (min-width: 671px) {
                        line-height: 1.7rem;
                    }

                    @media screen and (max-width: 411px) {
                        line-height: 1.7rem;
                    }
                }

                .item-alignment-4 {
                    line-height: 3.5rem;
                }

                .item-alignment-0 {
                    line-height: 1.6rem;
                }
            }
        }


    }

    .topics__wrapper__img {
        width: 100%;
        // height: 17rem;

        @media screen and (max-width: 1006px) {
            margin-top: 1rem;
        }

        @media screen and (max-width: 670px) {
            margin-top: 2.2rem;
        }

        @media screen and (max-width: 769px) {
            display: none;
        }

        .topics__img {
            max-width: 100%;
            max-height: 100%;
        }
    }
}

@media screen and (max-width: 674px) {
    .topics__wrapper__three-page {

        .topics__wrapper__content {

            .topics__list {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                margin-left: 3%;

                .topics__div__item {

                    display: flex;
                    width: 80%;
                    height: 5rem;
                }
            }
        }
    }
}

@media screen and (min-width: 769px) {
    .topics__wrapper__img-medium {
        display: none;
    }
}

@media screen and (max-width: 476px) {
    .topics__wrapper__img-medium {
        display: none;
    }
}

@media screen and (max-width: 768px) and (min-width: 476px) {
    .topics__wrapper__img-medium {
        display: block;
        height: 22rem;

        .topics__img-medium {
            max-width: 100%;
            max-height: 100%;
        }
    }
}

@media screen and (min-width: 474px) {
    .topics__wrapper__img-big {
        display: none;
    }
}

@media screen and (max-width: 475px) {
    .topics__wrapper__img-big {
        display: block;
        height: 17rem;

        .topics__img-big {
            max-width: 100%;
            max-height: 100%;
        }
    }
}